# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# React
build/
.env*
.env.*.local

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/

# IDEs
.idea/
*.iml
*.ipr
*.iws

# Logs
*.log
log/

# Temp
*.tmp
*~
~*

# Docker
*.swp
.dockerignore

# Spring Boot / Java
*.class
*.jar
*.war
*.tmp
bin/
out/
target/
build/
.gradle/

# Gradle Wrapper 예외 처리 (중요!)
!gradle/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Eclipse
*.classpath
*.project
*.settings/

# 기타
HELP.md

# Local 환경 파일 (예: Minikube 바이너리 등)
ch9-helm/exercises/ex01/minikube-linux-amd64

# Gradle Wrapper 예외 처리 (가장 마지막에 둘 것!)
!apps/todo-list/backend/gradle/wrapper/gradle-wrapper.jar
